.zoomFreak {
  top: 597px;
  left: 38px;
  font-size: var(--font-size-26xl);
}
.basketballShoes,
.price,
.rm180,
.zoomFreak {
  position: absolute;
  line-height: 93.4%;
}
.basketballShoes {
  top: 647px;
  left: 38px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.price,
.rm180 {
  top: 26px;
  left: 0;
  font-weight: 800;
}
.price {
  top: 0;
  left: 5px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.rm180Parent {
  position: absolute;
  top: 764px;
  left: 33px;
  width: 146px;
  height: 65px;
  font-size: var(--font-size-23xl);
}
.thereHasNever {
  margin: 0;
}
.thereHasNeverContainer {
  position: absolute;
  top: 688px;
  left: 17px;
  line-height: 111.9%;
}
.iphone1415ProBlueShoeChild,
.iphone1415ProBlueShoeItem {
  position: absolute;
  top: 52px;
  left: 315px;
  width: 48px;
  height: 48px;
}
.iphone1415ProBlueShoeItem {
  top: 53px;
  left: 39px;
  cursor: pointer;
}
.iphone1415ProBlueShoeChild1,
.iphone1415ProBlueShoeInner,
.rectangleDiv {
  position: absolute;
  top: 146px;
  left: 47px;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  width: 93px;
  height: 93px;
}
.iphone1415ProBlueShoeChild1,
.rectangleDiv {
  left: 266px;
  background-color: var(--color-goldenrod);
}
.iphone1415ProBlueShoeChild1 {
  left: 158px;
  background-color: var(--color-whitesmoke-100);
}
.icon {
  top: 142px;
  left: 13px;
  width: 160px;
  height: 160px;
  cursor: pointer;
}
.icon,
.icon1,
.icon2,
.icon3,
.icon4 {
  position: absolute;
  object-fit: cover;
}
.icon1 {
  top: 149.6px;
  left: 158.6px;
  width: 84.7px;
  height: 84.7px;
  cursor: pointer;
}
.icon2,
.icon3,
.icon4 {
  top: 140px;
  left: 261px;
  width: 104px;
  height: 104px;
}
.icon3,
.icon4 {
  top: 222.5px;
  left: 0;
  width: 383.6px;
  height: 362.8px;
}
.icon4 {
  top: 526px;
  left: 184px;
  width: 36px;
  height: 36px;
}
.ellipseDiv,
.groupIcon {
  position: absolute;
  cursor: pointer;
}
.ellipseDiv {
  top: 768px;
  left: 285px;
  border-radius: 50%;
  background: linear-gradient(170.02deg, #2db398, #00261f);
  width: 80px;
  height: 80px;
}
.groupIcon {
  height: 2.88%;
  width: 5.65%;
  top: 93.65%;
  right: 14.68%;
  bottom: 3.47%;
  left: 79.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iphone1415ProBlueShoeChild2 {
  position: absolute;
  top: 786px;
  left: 340px;
  border-radius: 50%;
  background-color: var(--color-goldenrod);
  width: 10px;
  height: 10px;
}
.iphone1415ProBlueShoeChild3 {
  position: absolute;
  height: 2.61%;
  width: 5.65%;
  top: 93.54%;
  right: 37.81%;
  bottom: 3.85%;
  left: 56.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sneakhaven {
  position: absolute;
  top: calc(50% - 361px);
  left: calc(50% - 97.5px);
  font-size: var(--ibm-plex-sans-headline-2-medium-20-size);
  font-family: var(--font-press-start-2p);
  color: var(--color-black);
  display: inline-block;
  width: 206px;
  height: 39px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.magnifiyingGlassIcon {
  position: absolute;
  top: 62px;
  left: 325px;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.batteryIcon,
.wifiIcon {
  position: absolute;
  top: 17px;
  right: 55px;
  width: 18px;
  height: 13px;
}
.batteryIcon {
  right: 20px;
  width: 30px;
  height: 13.1px;
}
.div {
  position: absolute;
  top: 14px;
  left: 21px;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}
.iphone1415ProBlueShoe {
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 400px;
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-darkslategray-200);
  font-family: var(--font-montserrat);
}
