.headerChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--color-whitesmoke-200);
  width: 393px;
  height: 92px;
}
.headerItem {
  position: absolute;
  top: 43px;
  left: 333px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.batteryIcon,
.wifiIcon {
  position: absolute;
  top: 23px;
  right: 55px;
  width: 18px;
  height: 13px;
}
.batteryIcon {
  right: 20px;
  width: 30px;
  height: 13.1px;
}
.div {
  position: absolute;
  top: 18px;
  left: 21px;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 600;
}
.sneakhaven {
  position: absolute;
  top: calc(50% + 10.5px);
  left: calc(50% - 102.5px);
  font-size: var(--ibm-plex-sans-headline-2-medium-20-size);
  font-family: var(--font-press-start-2p);
  text-align: left;
  display: inline-block;
  width: 206px;
  height: 39px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.vectorIcon {
  position: absolute;
  height: 29.29%;
  width: 6.87%;
  top: 53.54%;
  right: 5.6%;
  bottom: 17.17%;
  left: 87.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.header {
  position: absolute;
  top: -7px;
  left: 0;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
  width: 393px;
  height: 99px;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-inter);
}
