@import url("https://fonts.googleapis.com/css2?family=Satoshi:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Numans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montaga:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-satoshi: Satoshi;
  --font-roboto: Roboto;
  --font-inter: Inter;
  --font-press-start-2p: "Press Start 2P";
  --font-montserrat: Montserrat;
  --font-inder: Inder;
  --font-open-sans: "Open Sans";
  --font-numans: Numans;
  --font-montaga: Montaga;
  --font-istok-web: "Istok Web";
  --ibm-plex-sans-button-bold-12: "IBM Plex Sans";
  --font-karla: Karla;
  --font-ibm-plex-mono: "IBM Plex Mono";
  --font-inria-sans: "Inria Sans";

  /* font sizes */
  --ibm-plex-sans-body-1-regular-16-size: 16px;
  --ibm-plex-sans-headline-2-medium-20-size: 20px;
  --font-size-mid: 17px;
  --font-size-11xl: 30px;
  --ibm-plex-sans-caption-regular-12-size: 12px;
  --font-size-lg: 18px;
  --ibm-plex-sans-button-bold-12-size: 14px;
  --font-size-5xs: 8px;
  --font-size-5xl: 24px;
  --font-size-23xl: 42px;
  --font-size-26xl: 45px;
  --font-size-21xl: 40px;
  --font-size-3xl: 22px;
  --font-size-3xs: 10px;
  --font-size-mini: 15px;
  --font-size-smi: 13px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #fbfbfb;
  --color-gray-200: #252525;
  --white: #e8f2fc;
  --color-aliceblue-100: #eaedf4;
  --color-darkgray-100: rgba(159, 159, 159, 0.3);
  --color-black: #000;
  --color-lightgray: rgba(203, 203, 203, 0.8);
  --neutral-400: #f5f5f5;
  --color-whitesmoke-100: #f3f3f3;
  --color-whitesmoke-200: #f1f1f1;
  --color-whitesmoke-300: #eaeaea;
  --color-goldenrod: #ecb903;
  --color-darkslategray-100: #393e46;
  --color-darkslategray-200: #122a2f;
  --neutral-700: #606060;
  --color-dimgray-100: #544c4c;
  --color-dimgray-200: rgba(84, 76, 76, 0.14);
  --blue-400: #2095fd;
  --blue-500: #027fee;
  --color-lavender: #d2eaff;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-9xs: 4px;
  --gap-5xs: 8px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-sm: 14px;
  --padding-19xl: 38px;
  --padding-base: 16px;
  --padding-5xs: 8px;
  --padding-9xs-1: 3.1px;

  /* Border radiuses */
  --br-base: 16px;
  --br-9xl: 28px;
  --br-31xl: 50px;
  --br-11xl: 30px;
  --br-xl: 20px;
  --br-mini: 15px;
  --br-3xs: 10px;
  --br-7xs: 6px;
  --br-5xs: 8px;
  --br-6xs-1: 6.1px;
}
